<h2 class="mb-4">Settings</h2>
<hr>

<div class="row">
  <%= render 'settings/settings_nav_bar' %>

  <main class="col-md-9">
    <div class="card shadow-sm bg-white">
      <div class="card-body">
        <h4 class="card-title mb-3">API Key</h4>

        <%= turbo_frame_tag "integration_credential_form" do %>
          <%= render partial: "settings/integration_credentials/form", locals: { integration_credential: @integration_credential } %>
        <% end %>
        
        <%= render partial: "settings/integration_credentials/list", locals: { integration_credentials: @integration_credentials } %>
      </div>
    </div>
  </main>
</div>
