<aside class="col-md-3">
  <nav class="nav flex-column gap-2 bg-light rounded p-3">
    <%= link_to settings_api_keys_path, class: "nav-link d-flex align-items-center gap-2 px-2 py-2 rounded fw-semibold text-dark #{'active' if current_page?(settings_api_keys_path)}" do %>
      <%= icon "key", style: "width: 1.25em; height: 1.25em;" %>
      <span>API Key</span>
    <% end %>
    <%= link_to settings_webhooks_path, class: "nav-link d-flex align-items-center gap-2 px-2 py-2 rounded fw-semibold text-dark #{'active' if current_page?(settings_webhooks_path)}" do %>
      <%= icon "signal", style: "width: 1.25em; height: 1.25em;" %>
      <span>Webhooks</span>
    <% end %>
  <%# Add other links here when you expand settings %>
  </nav>
</aside>