<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-center">
          <h2>Edit Domain</h2>
        </div>
        <div class="card-body">
          <%= render "form", domain: @domain %>
        </div>
      </div>

      <div class="mt-3 text-center">
        <%= link_to "Show this Domain", @domain, class: "btn btn-outline-primary me-2" %>
        <%= link_to "Back to domains", domains_path, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>
