<div class="row">

  <%= render "side_bar" %>

  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Domains</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <%= button_to '+ Add Domain', new_domain_path, method: :get, class: 'btn btn-secondary' %>
      </div>
    </div>
    
    <div class="row">
      <% @domains.each do |domain| %>
        <div class="col-md-4 pb-5">
          <div class="card" style="width: 18rem;">
            <% if domain.snap_shots.last.screen_shot.present? %>
              <div class: "capture-image-container h-100">
                <%= image_tag domain.snap_shots.last.screen_shot, class: "card-img-top capture-image" %>
              </div>
            <% end %>
            <div class="card-body">
              <%= link_to "#{domain.url}", domain_path(domain), class: "" %>
            </div>
          </div>  
        </div>
      <% end %>
    </div>
    
    <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
  </main>
</div>

