<div class="row">

  <%= render "side_bar" %>
  
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2"><%= @domain.url %></h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        Settings/Edit
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-4 pb-5">
        <% @domain.snap_shots.each do |snap_shot| %>
          <div class="card">
            <% if snap_shot.screen_shot.present? %>
              <div class: "capture-image-container h-100">
                <%= image_tag snap_shot.screen_shot, class: "card-img-top capture-image" %>
              </div>
            <% end %>
            <div class="card-body">
            <%= link_to "#{snap_shot.created_at.to_date}, #{snap_shot.created_at.strftime("%I:%M%p").downcase}", snap_shots_path(snap_shot), class: "" %>
            </div>
          </div>  
        <% end %>
      </div>
    </div>
    
    <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
  </main>
</div>
