<% if resource.errors.any? %>
  <div class="alert alert-danger">
    <h4 class="alert-heading"><%= pluralize(resource.errors.count, "error") %> prohibited this user from being created:</h4>
    <ul class="mb-0">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>