<div class="dropdown">
  <button class="btn btn-outline-primary d-flex align-items-center dropdown-toggle" type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="bi bi-person-circle me-2"></i>
    <%= current_user.email %>
  </button>

  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
    <% if current_user.admin? %>
      <li>
        <%= link_to "Domain Uploader", new_admin_domain_uploader_path, class: "dropdown-item" %>
      </li>
    <% end %>
    <li>
      <%= link_to "Sign out", destroy_user_session_path,
        class: "dropdown-item text-danger",
        data: { turbo_method: :delete } %>
    </li>
  </ul>
</div>
