<nav class="navbar navbar-expand-lg bg-body-tertiary px-4">
  <div class="container-fluid">
    <%= link_to root_path, class: 'd-flex text-decoration-none', style: "all: unset; cursor: pointer;" do %>
      <%= image_tag asset_path('logo_transparent.png'), style: 'height:2em; width:auto;' %>
      <h2 class="h2 ms-2">Captuvate</h2>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

      </ul>

      <% if user_signed_in? %>
        <%= render "navbar_user" %>
      <% else %>
        <%= render "navbar_guest" %>
      <% end %>

    </div>
  </div>
</nav>