<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body class="d-flex align-items-center justify-content-center min-vh-100 bg-white">
    <main class="w-100" style="max-width: 420px;">
      <%= yield %>
    </main>
  </body>
</html>